/* FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

/* SECCION INICIO */

:root {
  --primary-color: #5378f0;
  --background-color: rgba(0, 0, 0, 0.7);
  --text-color: aliceblue;
  --hover-color: rgb(248, 0, 0);
}

/* Inicio */

#inicio {
  background: linear-gradient(var(--background-color), var(--background-color)), url(/img/fondo-inicio.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  z-index: 1001;
  top: 1;
  height: auto;
  position: fixed;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  top: 0;
  height: auto;
  z-index: 1001;
  transition: top 0.3s;
  



}

#inicio .contenido header .contenido-header h1 {
  text-align: center;
  color: var(--primary-color);
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
  color: var(--hover-color);
}

#inicio .contenido header .contenido-header .redes a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header .redes{
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header .redes a:hover {
  color: red;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header .seleccionado {
  color: var(--hover-color);
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  columns: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 25px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: red;
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--text-color);
  border-radius: 50px;
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

#inicio .contenido .presentacion .oh-toro {
  color: red;
  border: none;
  margin: 2px;
  padding: 0;
}

#inicio .contenido .presentacion .oh-toro:hover {
  color: whitesmoke;
}

#inicio .contenido .presentacion .link-portfolio:hover {
  background-color: gray;
}

#icono-nav {
  color: var(--text-color);
  display: none;
}

/* Sección Sobre Mi */

#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

#sobremi .contenedor-foto img {
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#sobremi .sobremi {
  margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
  color: red;
}

#sobremi .sobremi h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: 0.5s;
}

#sobremi .sobremi a:hover {
  background-color: rgb(221, 75, 75);
  color: #000;
}

/* Servicios */

#servicios {
  padding: 100px;
  text-align: center;
  background-color: #f3f3f3;
}

#servicios .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 60px auto;
}

#servicios .fila .servicio {
  max-width: 400px;
  background-color: #fff;
  padding: 30px 0;
  margin: 5px;
  border-radius: 60px;
  transition: 0.5s;
}


#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4 {
  font-size: 16px;
  margin-bottom: 25px;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f3f3f3;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

#servicios .fila .servicio li {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-size: 13px;
}

/* Habilidades & Skills */

.contenedor-skills {
  background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, 0.8));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 90%;
  height: 6px;
  margin: 10px 0;
}

/* Agregar animaciones a través de JS */

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
  background-color: #fff;
  width: 100%;
  height: 6px;
  animation: progreso5 2s forwards;
}


/* ANIMACIONES DE BARRAS */

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes progreso5 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Estilos para el logotipo */
.logo-tech {
  position: relative;
  width: 300px;
  height: auto;
  transition: opacity 0.3s ease;
}

.logo-tech::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo-tech:hover {
  opacity: 0.7;
}

.logo-tech:hover::after {
  opacity: 1;
}

.parrafo-derechos {
  text-decoration: double;
  text-decoration-style: dashed;
}

/* SECCION PORTFOLIO */

#portfolio {
  max-width: 1100px;
  padding: 0; /* Elimina el relleno superior e inferior */
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 0; /* Elimina los márgenes */
  flex-wrap: wrap;
}

#portfolio .fila .proyecto {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px; 
  border: none;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; 
  transition: 0.3s; /* Agrega una transición para suavizar cambios */
}
#portfolio .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .fila .proyecto:hover img {
  filter: grayscale(0);
}

#portfolio .fila .info {
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,.8);
  color: red;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/* SECCION CONTACTO */

#contacto {
  padding: 100px 15px;
}

#contacto .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
  width: 48%;
}

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .btn-enviar {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #650606;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 200px;
}

#contacto .btn-enviar:hover {
  background-color: rgb(214, 4, 4);
  color: antiquewhite;
}

.btn-enviar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*MODAL*/
/* Estilos para el modal de notificación */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0; /* Fondo gris */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.modal-content {
  color: red; /* Color de letras rojas */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para la notificación en forma de nube */
.modal::before {
  content: "";
  position: absolute;
  top: -10px; /* Ajustar la posición vertical para que no cubra el formulario */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent; /* Fondo gris */
  z-index: 1001; /* Asegura que esté por encima del modal */
}
/*FOOTER*/
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}




/* SECCION RESPONSIVE */

@media screen and (max-width: 800px) {
  .redes {
    display: none;
  }
  nav {
    display: none;
  }

  body{
    text-align: center;
  }

  nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icono-nav {
    display: block;
  }

   .redes {
    display: block; /* Muestra los iconos uno debajo del otro */
    text-align: center; /* Centra horizontalmente los iconos */
  }
}

  #inicio .contenido .presentacion h2 {
    font-size: auto;
  }
  #inicio .contenido .presentacion {
    margin-top: 70;
  }

  #inicio .contenido header {
    top:0;
    position: fixed;
    z-index: 1001;
  }

  #sobremi {
    padding: 20px 0;
    text-align: center;
  }

  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobremi .sobremi h2 {
    font-size: 25px;
    text-align: center;
  }
  #sobremi .sobremi a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
  #sobremi .sobremi h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }

  #servicios {
    padding: 20px 15px;
    text-align: center;
  }
  #servicios .fila {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  #servicios .fila .servicio {
    margin: 30px auto;
  }

  .contenedor-skills {
    padding: 20px 20px;
    text-align: center;
  }

  #portfolio {
    padding: 20px 0;
  }

  #portfolio .fila {
    display: block;
  }

  #portfolio .fila .proyecto {
    margin: 10px auto;
    transition: transform 0.3s ease;
  }
  #portfolio .fila .proyecto.scroll-animation {
    transform: scale(1.05);
  }

  #contacto {
    padding: 20px 15px;
    text-align: center;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }


#alert-message {
  display: none; 
  background-color:none; 
  color: #E74C3C; /* Color del texto en blanco */
  padding: 10px; /* Relleno de 10px alrededor del mensaje */
  text-align: center; /* Alinea el texto al centro */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; }
